UseTab: Always
IndentWidth: 8
TabWidth: 8
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterEnum: false
AlignAfterOpenBracket: DontAlign
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: DontAlign
